// colors
$primary-color: hsl(180, 29%, 50%);
$secondary-color: hsl(180, 14%, 20%);
$bg-color: hsl(180, 52%, 96%);
$filterTablets-color: hsl(180, 31%, 95%);
$headerSecondary-color: hsl(180, 8%, 52%);

// font-size
$font-size: 15px;

// font style
$font-family: 'League Spartan', sans-serif;